.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
}



.sidebar {
    background-color: red;
    grid-column: 1;
    grid-row: 1 / span 2;
}

.header {
    background-color: blue;
    grid-column: 2;
    grid-row: 1;
}

.content {
    background-color: green;
    grid-column: 2;
    grid-row:2;
    grid
}